$blackColor: #000000;
$whiteColor: #ffffff;
$mainBlueColor: #4793FF;
$mainGrayColor: #939CB0;

$boxShadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

$body-dark: #111111;
$body-light: #ffffff;

$components-dark: #4F4F4F;
$components-light: #ffffff;

$card-dark: #2E3035;
$card-light: #dae9ff;

$text-dark: #ffffff;
$text-light: #000000;

$button-dark: #4F4F4F;
$button-light: #ffffff;